#coverimage {
	z-index: 100;
	height: 200px;
	width: 200px;
}
.navbar {
	z-index: 10;
	background-color: transparent;
	font-family: 'Oswald', 'sans-serif';
	font-size: 1em;
	border: 0;
}

.post-title {
	text-decoration: none;
	font-weight: bold;
}

.created-at {
	font-size: 11px;
	color: grey;
	font-style: italic;
}

.navbar-black {
	z-index: 10;
	background-color: black;
	border: 0;
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff;
	font-family: 'Oswald', 'sans-serif';
	font-size: 2.5em;	
}

#search-bar{
	padding: 10px;
}
.firstcontainer {
	margin-top: 80px;
}

.lastcontainer {
	margin-bottom: 80px;
}

#sidebar-column {
	padding-left: 30px;
	padding-top: 50px;
	padding-right: 25px;
	padding-bottom: 50px;
}

#show-posts-column {
	padding: 25px;
}
#header {
	background: url(/img/head_bg.jpg) no-repeat center top;
	margin-top: 0px;
	padding-top: 190px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	background-size: 100%;
	background-size: cover;
	position: relative;
	top:0px;
	color: white;
}

#photography-container {
	margin-bottom: 25px;
}

#footer {
	color: white;
	background-color: black;
	width: 100%;
	height: 100px;
	bottom: 0px;
	position: relative;
	bottom: 0px;
}

#hire {
	background-color: red;
}

#social-icons {
	font-size: 3em;
}
#header-copy {
	position: relative;
	top: -70px;
}
